<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case AutoU</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <h2>Sistema de Classificação Automático</h2>
        <p>Case Prático</p>
    </header>
    <main>
        <div id="main_section">
            <div>
                <h2>
                    Classificador de Email
                    <span class="help-button" id="startTour">?</span>
                </h2>
                <p>Insira seu texto abaixo ou faça o upload de arquivo para classificação automática</p>
            </div>
            <div id="upload_section">
                <span class="material-symbols-outlined icon_upload">upload</span>
                <p id="description_upload">Clique para upload</p>
                <p id="format_upload">Formatos: TXT, PDF</p>
                <input type="file" id="email_uploads" name="email_uploads" accept=".txt,.pdf">
            </div>
            <p>ou</p>
            <div id="text_section">
                <textarea placeholder="Cole aqui o texto para classificação"></textarea>
            </div>
            <div>
                <button id="classify_button"><span class="material-symbols-outlined icon-mail">mail</span>Classificar Email</button>
            </div>
        </div>
        <div id="result_section">
            <div id="waiting_result">
                <h2>Resultado da Classificação</h2>
                <p id="result_text">Aguardando classificação...</p>
                <template id="result-template">
                    <div class="result-content">
                        <p class="classification-line"><strong>Classificação:</strong> <span class="classification-text"></span></p>
                        <strong>Resposta Sugerida:</strong>
                        <div class="response-content">
                            <pre class="response-pre"></pre>
                            <textarea class="response-textarea hidden"></textarea>
                        </div>
                        <div class="response-actions">
                            <button class="edit-button"><span class="material-symbols-outlined icon-edit">edit</span>Editar Resposta</button>
                            <button class="save-button hidden">Salvar</button>
                            <button class="cancel-button hidden">Cancelar</button>
                            <button class="copy-button"><span class="material-symbols-outlined icon-copy">content_copy</span>Copiar</button>
                        </div>
                        <button class="new-classification-button"><span class="material-symbols-outlined icon-cached">cached</span>Classificar Novo Email</button>
                    </div>
                </template>
            </div>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por Cauã Tolentino</p>
        <p>Desafio Técnico</p>
    </footer>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>